In [2]:
import pyodbc
import pandas as pd
from IPython.display import display, Markdown
import os
from contextlib import contextmanager

dbconn = os.environ.get('DBCONN', None)
if dbconn is None:
    display("No SQL credentials. Check that the file 'environ.txt' is present. Refer to readme for further information")
else:
    dbconn = dbconn.strip('"')
    
    
# Set up SQL connection ensuring that it is closed after each use
@contextmanager
def closing_connection(dbconn):
    cnxn = pyodbc.connect(dbconn)
    try:
        yield cnxn
    finally:
        cnxn.close()

In [5]:
# select command
query = '''select name from sys.objects where type_desc='USER_TABLE' order by name'''

with closing_connection(dbconn) as connection:
    df = pd.read_sql(query, connection)
df

                             name
0                            APCS
1                       APCS_Cost
2                        APCS_Der
3                     Appointment
4                       BuildInfo
5              CodeCountIndicator
6                      CodedEvent
7                 CodedEventRange
8                    Consultation
9                            CPNS
10                 CTV3Dictionary
11                  CTV3Hierarchy
12                 DataDictionary
13                             EC
14      EC_AlcoholDrugInvolvement
15               EC_Comorbidities
16                        EC_Cost
17                   EC_Diagnosis
18               EC_Investigation
19         EC_PatientMentalHealth
20                   EC_Treatment
21                           ECDS
22              ECDS_EC_Diagnoses
23                      Household
24                HouseholdMember
25                ICD10Dictionary
26                         ICNARC
27                LatestBuildTime
28           MedicationDictionary
29                MedicationIssue
30               MedicationRepeat
31          MedicationSensitivity
32                            MPI
33  MSOA_PopulationEstimates_2019
34                     ONS_Deaths
35                   Organisation
36                        Patient
37                 PatientAddress
38       PotentialCareHomeAddress
39            QOFClusterReference
40            RegistrationHistory
41                  SGSS_Negative
42                  SGSS_Positive
43                    sysdiagrams
44                 UnitDictionary
45                           UPRN
46                    Vaccination
47           VaccinationReference

In [42]:
# select command
query = '''select distinct ChildCTV3Code from CTV3Hierarchy '''

with closing_connection(dbconn) as connection:
    df = pd.read_sql(query, connection)
df

       ChildCTV3Code
0              .69D1
1              .9313
2              .A22.
3              0....
4              01...
...              ...
295857         yz4U.
295858         yz4V.
295859         yz4W.
295860         yz4X.
295861         yz4Y.

[295862 rows x 1 columns]

In [17]:
# select command
query = '''select ParentCTV3Code, ParentCTV3Description, ChildToParentDistance, count(*) from CTV3Hierarchy 
where ParentCTV3Description IN ('Microbiology test','Clinical microbiology','Medical microbiology','Microbiology','Microbiology observation')
group by ParentCTV3Code, ParentCTV3Description, ChildToParentDistance
order by ParentCTV3Description'''

with closing_connection(dbconn) as connection:
    df = pd.read_sql(query, connection)
df

   ParentCTV3Code     ParentCTV3Description  ChildToParentDistance
0           XaJKG     Clinical microbiology                      0    1
1           XaIj3      Medical microbiology                      0    1
2           XaIj3      Medical microbiology                      1    1
3           Y0419              Microbiology                      0    1
4           XE26k              Microbiology                      0    1
5           XE26k              Microbiology                      1    4
6           X76xj  Microbiology observation                      4  192
7           X76xj  Microbiology observation                      0    1
8           X76xj  Microbiology observation                      3  435
9           X76xj  Microbiology observation                      1   30
10          X76xj  Microbiology observation                      2  174
11          X76xj  Microbiology observation                      5   43
12          X77b5         Microbiology test                      2  178
13          X77b5         Microbiology test                      1   49
14          X77b5         Microbiology test                      4   11
15          X77b5         Microbiology test                      0    1
16          X77b5         Microbiology test                      3   71

In [41]:
# select command
query = '''select * from CTV3Hierarchy 
where ChildCTV3Description = 'Asthma monitoring'
order by ChildToParentDistance'''

with closing_connection(dbconn) as connection:
    df = pd.read_sql(query, connection)
df

,ParentCTV3Code,ParentCTV3Description,ChildCTV3Code,ChildCTV3Description,ChildToParentDistance
0,XM1Xb,Asthma monitoring,XM1Xb,Asthma monitoring,0
1,XE1Sw,Respiratory disease monitoring,XM1Xb,Asthma monitoring,1
2,66...,Chronic disease monitoring,XM1Xb,Asthma monitoring,2
3,8A...,Monitoring of patient,XM1Xb,Asthma monitoring,3
4,XaBnr,"Screening, monitoring and surveillance",XM1Xb,Asthma monitoring,4
5,X71ZT,Regimes and therapies,XM1Xb,Asthma monitoring,5
6,Xa22Y,"Operations, procedures and interventions",XM1Xb,Asthma monitoring,6
7,.....,Read thesaurus,XM1Xb,Asthma monitoring,7

In [38]:
df.head(30)

,ParentCTV3Code,ParentCTV3Description,ChildCTV3Code,ChildCTV3Description,ChildToParentDistance
0,13Y4.,Asthma society member,13Y4.,Asthma society member,0
1,21262,Asthma resolved,21262,Asthma resolved,0
2,XE2Na,Asthma monitoring admin.,XE2Na,Asthma monitoring admin.,0
3,XE2Nb,Asthma monitoring check done,XE2Nb,Asthma monitoring check done,0
4,XM0s2,Asthma attack NOS,XM0s2,Asthma attack NOS,0
5,XM1U3,Asthma clinic administration,XM1U3,Asthma clinic administration,0
6,XM1Xb,Asthma monitoring,XM1Xb,Asthma monitoring,0
7,XaBU2,Asthma monitoring call,XaBU2,Asthma monitoring call,0
8,XaBU3,Asthma monitoring status,XaBU3,Asthma monitoring status,0
9,XaIIW,Asthma accident and emergency attendance since...,XaIIW,Asthma accident and emergency attendance since...,0
10,XaIIX,Asthma treatment compliance satisfactory,XaIIX,Asthma treatment compliance satisfactory,0
11,XaIIY,Asthma treatment compliance unsatisfactory,XaIIY,Asthma treatment compliance unsatisfactory,0
12,XaIIZ,Asthma daytime symptoms,XaIIZ,Asthma daytime symptoms,0
13,XaINZ,Asthma causes night symptoms 1 to 2 times per ...,XaINZ,Asthma causes night symptoms 1 to 2 times per ...,0
14,XaINa,Asthma never causes daytime symptoms,XaINa,Asthma never causes daytime symptoms,0
15,XaINb,Asthma causes daytime symptoms 1 to 2 times pe...,XaINb,Asthma causes daytime symptoms 1 to 2 times pe...,0
16,XaINc,Asthma causes daytime symptoms 1 to 2 times pe...,XaINc,Asthma causes daytime symptoms 1 to 2 times pe...,0
17,XaINd,Asthma causes daytime symptoms most days,XaINd,Asthma causes daytime symptoms most days,0
18,XaINf,Asthma limits walking up hills or stairs,XaINf,Asthma limits walking up hills or stairs,0
19,XaINg,Asthma limits walking on the flat,XaINg,Asthma limits walking on the flat,0
20,XaIOV,Asthma finding,XaIOV,Asthma finding,0
21,XaIRN,Asthma monitoring due,XaIRN,Asthma monitoring due,0
22,XaIeq,Asthma annual review,XaIeq,Asthma annual review,0
23,XaIer,Asthma follow-up,XaIer,Asthma follow-up,0
24,XaIfK,Asthma medication review,XaIfK,Asthma medication review,0
25,XaIoE,Asthma night-time symptoms,XaIoE,Asthma night-time symptoms,0
26,XaIu5,Asthma monitoring by nurse,XaIu5,Asthma monitoring by nurse,0
27,XaIu6,Asthma monitoring by doctor,XaIu6,Asthma monitoring by doctor,0
28,XaIuG,Asthma confirmed,XaIuG,Asthma confirmed,0
29,XaIww,Asthma trigger,XaIww,Asthma trigger,0

In [36]:
# select command
query = '''select ParentCTV3Code, ParentCTV3Description, MIN(ChildToParentDistance) as Min_distance, MAX(ChildToParentDistance) as Max_distance 
from CTV3Hierarchy 
WHERE ParentCTV3Description LIKE '%Laboratory Procedures%'
group by ParentCTV3Code, ParentCTV3Description
having MAX(ChildToParentDistance) > 1'''

with closing_connection(dbconn) as connection:
    df = pd.read_sql(query, connection)
df

  ParentCTV3Code           ParentCTV3Description  Min_distance  Max_distance
0          4....           Laboratory procedures             0             2
1          XE24i  Laboratory procedures -general             0             3

In [6]:
desc = pd.DataFrame([["Appointment", "Primary care appointment dates"],
["CodedEvent", "Recorded events in primary care, e.g. prescriptions, referrals, diagnoses"],
["CodedEventRange", "Possible value ranges for events in `coded event` table"],
["Consultation", "Primary care consultation dates and IDs"],
["CPNS", "Daily COVID-related in-hospital deaths (may be incomplete)"],
["DataDictionary","Translation for codes present in TPP Data"],
["ECDS","A&E presentations from Emergency Care Data Set (ECDS)"],
["ECDS_EC_Diagnoses","Diagnosis codes required to extract relevant A&E presentations from ECDS"],
["EthnicityCodedEvent","Subset of CodedEvent table related to ethnicity"],
["ICD10Dictionary","Translation for ICD10 (diagnosis) codes"],
["ICNARC","Intensive treatment unit (ITU) admissions and ventilation"],
["LastestBuildTime",""],
["MedicationDictionary","Dictionary of medicines in primary care"],
["MedicationIssue","Issue date for medicines in primary care"],
["MedicationIssue_CVD_Meds","Subset of MedicationIssue table for CVD (cardiovascular disease)"],
["MedicationList_CVD_Meds","List of medicines for CVD (cardiovascular disease)"],
["MedicationRepeat","Repeat medications issued in primary care"],
["MedicationSensitivity", "Drug allergies recorded in primary care"],
["ONS_Deaths","All cause deaths from ONS (includes non-hospital deaths)"],
["Organisation","Practice codes"],
["Patient","DOB, DOD, sex as recorded in primary care"],
["PatientAddress","Patient address type, location, ruralness, deprivation score"],
["QOFClusterReference","QOF codess with links to CTV3 codes and descriptions"],
["RegistrationHistory","Patient's practice registration history"],
["SGSS_Negative","Negative lab results for covid test"],
["SGSS_Positive","Positive lab results for covid test"],
["sysdiagrams",""],
["UnitDictionary","Ranges and units for CTV3 codes with units"],
["Vaccination","Patient vaccination record"],
["VaccinationReference","Vaccination info"]
], columns=["name", "Description"])

df1 = df.merge(desc, on="name", how="left")

In [9]:
# increase column display limit so that we can see all columns for each dataframe
pd.set_option('display.max_columns', 200)

for i, table in enumerate(df1['name']):
    sql = f"select TOP 10  * from {table}"
    display(Markdown(f"## {table}"))
    desc = df1.iloc[i]["Description"]
    display (desc)
    with closing_connection(dbconn) as connection:
        out = pd.read_sql(sql, connection).head()
    display(out)

## APCS

nan

,Patient_ID,APCS_Ident,Carer_Support_Indicator,Ethnic_Group,Administrative_Category,Patient_Classification,Admission_Method,Discharge_Destination,Discharge_Method,Source_of_Admission,Admission_Date,Discharge_Date,Provider_Org_Code_Type,Duration_of_Elective_Wait,Spell_Core_HRG_SUS,Spell_HRG_Version_No_SUS,Hospital_Spell_Duration,Der_Spell_LoS,Der_Diagnosis_Count,Der_Procedure_Count,Der_Diagnosis_All,Der_Procedure_All,Der_Admit_Treatment_Function_Code,Der_Dischg_Treatment_Function_Code,Der_Pseudo_Patient_Pathway_ID,Der_Activity_Month,Der_Financial_Year
0,1314620,12345,None,A,01,1,21,19,1,19,2016-10-30,2016-11-02,None,None,WA22X,4.0,3,3,26,2,"||R296 ,J841 ,J459 ,I500 ,F329 ,D469 ,M819 ,Z7...","||U051,Y981",300,340,None,201611,2016/17

## APCS_Cost

nan

,Patient_ID,APCS_Ident,Tariff_Initial_Amount,Tariff_Total_Payment,Grand_Total_Payment_MFF
0,1314620,12345,2517.0,2517.0,2619.107178

## APCS_Der

nan

,Patient_ID,APCS_Ident,Spell_Dominant_Procedure,Spell_Primary_Diagnosis,Spell_Secondary_Diagnosis,Spell_Treatment_Function_Code,Spell_Main_Specialty_Code,Spell_LoS,Spell_PbR_CC_Day,Spell_PbR_Rehab_Days,Spell_RE30_Indicator,Spell_RE30_Admit_Type
0,1314620,12345,None,J841,J459,340,340,3,0,0,None,None

## Appointment

'Primary care appointment dates'

,Patient_ID,Appointment_ID,Organisation_ID,BookedDate,StartDate,EndDate,ArrivedDate,SeenDate,FinishedDate,Status
0,1,2341801128,8,2019-04-24 10:26:56,2019-04-24 10:50:00,2019-04-24 10:55:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
1,1,2342251089,8,2019-04-26 13:11:28,2019-04-26 15:20:00,2019-04-26 15:30:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
2,2,2249192402,8,2016-07-26 09:46:49,2016-07-26 08:40:00,2016-07-26 08:50:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,0
3,2,60718,16,2012-11-28 11:31:49,2012-11-28 14:35:00,2012-11-28 14:45:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
4,2,1323903,16,2013-04-17 09:33:41,2013-04-17 09:40:00,2013-04-17 09:50:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2

## BuildInfo

nan

  BuildDesc               BuildDate  BuildNumber
0        S1 2020-03-30 14:30:00.567            1
1        S1 2020-03-30 14:39:00.693            2
2        S1 2020-03-30 15:58:16.780            3
3        S1 2020-03-30 16:35:14.357            4
4        S1 2020-03-30 16:42:20.450            5

## CodeCountIndicator

nan

  CTV3Code  CodeCountIndicator
0                          5.0
1       ..                 2.0
2    .....                 3.0
3    0....                 3.0
4    01...                 0.0

## CodedEvent

'Recorded events in primary care, e.g. prescriptions, referrals, diagnoses'

,Patient_ID,Consultation_ID,CodedEvent_ID,CTV3Code,NumericValue,ConsultationDate
0,1,2723801383,1326111076,Xa1kG,0.0,2019-04-24 10:50:00
1,1,2724343380,1327710892,Xa1kG,0.0,2019-04-26 15:20:00
2,2,103046046,1789792,G....,0.0,2004-02-04 08:14:46
3,2,13873540,11846929,Ub0Qd,-1.0,2010-08-25 14:07:07
4,2,14562692,13598234,Y2619,0.0,2011-07-12 09:18:35

## CodedEventRange

'Possible value ranges for events in `coded event` table'

,Patient_ID,CodedEvent_ID,CodedEventRange_ID,Consultation_ID,LowerBound,UpperBound,Comparator
0,18,14676569,370566,20318999,-1.0,-1.0,4
1,18,14677171,370616,20319427,-1.0,-1.0,5
2,18,14677172,370617,20319428,-1.0,-1.0,5
3,18,14677173,370618,20319429,-1.0,-1.0,5
4,18,14677174,370619,20319430,-1.0,-1.0,6

## Consultation

'Primary care consultation dates and IDs'

   Patient_ID  Consultation_ID  Registration_ID    ConsultationDate
0           1       2723443768          1737208 2019-04-24 10:21:38
1           1       2723443769          1737208 2019-04-24 10:21:32
2           1       2723443770          1737208 2019-04-24 10:21:32
3           1       2723443771          1737208 2019-04-01 10:21:27
4           1       2723443772          1737208 2019-04-24 10:20:47

## CPNS

'Daily COVID-related in-hospital deaths (may be incomplete)'

,Patient_ID,Id,LocationOfDeath,Sex,DateOfAdmission,DateOfSwabbed,DateOfResult,RelativesAware,TravelHistory,RegionCode,RegionName,OrganisationTypeLot,RegionApproved,RegionalApprovedDate,NationalApproved,NationalApprovedDate,PreExistingCondition,Age,DateOfDeath,HadLearningDisability,ReceivedTreatmentForMentalHealth,Der_Ethnic_Category_Description,Der_Latest_SUS_Attendance_Date_For_Ethnicity,Der_Source_Dataset_For_Ethnicty,snapDate,OnDeathCertificateNotice,CovidTestResult,NHSworker,PreExistingConditionList,LearningDisabilityType,TransferredFromLearningDisabilityAutismSetting,TransferredFromAMentalHealthSetting,DetainedUnderMHAct
0,10017,12345,Hospital,F,2020-02-28,2020-03-19,2020-03-19,Yes,False,Y63,North East and Yorkshire,Ward,True,None,True,None,True,93,2020-03-24,None,None,A: British,2020-04-15 00:00:00,OPA,2020-03-24,None,None,None,None,None,None,None,None

## CTV3Dictionary

nan

  CTV3Code                                      Description
0    .....                                   Read thesaurus
1    .69D1  Geriatric health examination (& [annual check])
2    .9313               Lloyd George culled and summarised
3    .A22.                           Pulmonary tuberculosis
4    0....                                      Occupations

## CTV3Hierarchy

nan

,ParentCTV3Code,ParentCTV3Description,ChildCTV3Code,ChildCTV3Description,ChildToParentDistance
0,22...,General examination of patient,.69D1,Geriatric health examination (& [annual check]),4
1,69D..,Health examination of sub-group,.69D1,Geriatric health examination (& [annual check]),2
2,.....,Read thesaurus,.69D1,Geriatric health examination (& [annual check]),7
3,Xa22Y,"Operations, procedures and interventions",.69D1,Geriatric health examination (& [annual check]),6
4,.69D1,Geriatric health examination (& [annual check]),.69D1,Geriatric health examination (& [annual check]),0

## DataDictionary

'Translation for codes present in TPP Data'

            Table         Type Code    Description
0         Patient          Sex    M           Male
1         Patient          Sex    F         Female
2         Patient          Sex    I  Indeterminate
3         Patient          Sex    U    Unspecified
4  PatientAddress  AddressType    0      Permanent

## EC

nan

,Patient_ID,EC_Ident,Ethnic_Category,EC_Department_Type,Arrival_Date,Arrival_Time,EC_Arrival_Mode_SNOMED_CT,EC_AttendanceCategory,EC_Attendance_Source_SNOMED_CT,EC_Decision_To_Admit_Date,Decision_To_Admit_Treatment_Function_Code,Discharge_Destination_SNOMED_CT,EC_Chief_Complaint_SNOMED_CT,EC_Injury_Date,SUS_HRG_Code,SUS_Tariff,SUS_Final_Price,DQ_Chief_Complaint_Expected,DQ_Chief_Complaint_Completed,DQ_Chief_Complaint_Valid,DQ_Primary_Diagnosis_Expected,DQ_Primary_Diagnosis_Completed,DQ_Primary_Diagnosis_Valid,Der_EC_Diagnosis_All,Der_EC_Investigation_All,Der_EC_Treatment_All,Der_Activity_Month,Der_Financial_Year
0,1314620,12345,Z,01,2019-07-14,16:00:00,1048031000000100,1,None,2019-07-14,None,306706006,82271004,None,VB03Z,252,261,True,True,True,True,True,True,127299008,"77477000, 179929004, 179929004, 179929004, 179...",", 430824005",201907,2019/20

## EC_AlcoholDrugInvolvement

nan

,Patient_ID,EC_Ident,EC_Alcohol_Drug_Involvement_01,Is_Code_Approved_01,EC_Alcohol_Drug_Involvement_02,Is_Code_Approved_02,EC_Alcohol_Drug_Involvement_03,Is_Code_Approved_03,EC_Alcohol_Drug_Involvement_04,Is_Code_Approved_04,EC_Alcohol_Drug_Involvement_05,Is_Code_Approved_05,EC_Alcohol_Drug_Involvement_06,Is_Code_Approved_06,EC_Alcohol_Drug_Involvement_07,Is_Code_Approved_07,EC_Alcohol_Drug_Involvement_08,Is_Code_Approved_08,EC_Alcohol_Drug_Involvement_09,Is_Code_Approved_09,EC_Alcohol_Drug_Involvement_10,Is_Code_Approved_10,EC_Alcohol_Drug_Involvement_11,Is_Code_Approved_11,EC_Alcohol_Drug_Involvement_12,Is_Code_Approved_12
0,1314620,12345,984801000000105,True,984801000000105,True,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## EC_Comorbidities

nan

,Patient_ID,EC_Ident,Comorbidity_01,Comorbidity_02,Comorbidity_03,Comorbidity_04,Comorbidity_05,Comorbidity_06,Comorbidity_07,Comorbidity_08,Comorbidity_09,Comorbidity_10,Comorbidity_11,Comorbidity_12,Comorbidity_13,Comorbidity_14,Comorbidity_15,Comorbidity_16,Comorbidity_17,Comorbidity_18,Comorbidity_19,Comorbidity_20,Comorbidity_21,Comorbidity_22,Comorbidity_23,Comorbidity_24
0,1314620,12345,22950006,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## EC_Cost

nan

   Patient_ID  EC_Ident  Tariff_Total_Payment  Grand_Total_Payment_MFF
0     1314620     12345                 157.0               180.319046

## EC_Diagnosis

nan

,Patient_ID,EC_Ident,EC_Chief_Complaint_SNOMED_CT,EC_Diagnosis_01,EC_Diagnosis_02,EC_Diagnosis_03,EC_Diagnosis_04,EC_Diagnosis_05,EC_Diagnosis_06,EC_Diagnosis_07,EC_Diagnosis_08,EC_Diagnosis_09,EC_Diagnosis_10,EC_Diagnosis_11,EC_Diagnosis_12,EC_Diagnosis_13,EC_Diagnosis_14,EC_Diagnosis_15,EC_Diagnosis_16,EC_Diagnosis_17,EC_Diagnosis_18,EC_Diagnosis_19,EC_Diagnosis_20,EC_Diagnosis_21,EC_Diagnosis_22,EC_Diagnosis_23,EC_Diagnosis_24,AEA_Diagnosis_01,AEA_Diagnosis_02,AEA_Diagnosis_03,AEA_Diagnosis_04,AEA_Diagnosis_05,AEA_Diagnosis_06,AEA_Diagnosis_07,AEA_Diagnosis_08,AEA_Diagnosis_09,AEA_Diagnosis_10,AEA_Diagnosis_11,AEA_Diagnosis_12,AEA_Diagnosis_13,AEA_Diagnosis_14,AEA_Diagnosis_15,AEA_Diagnosis_16,AEA_Diagnosis_17,AEA_Diagnosis_18,AEA_Diagnosis_19,AEA_Diagnosis_20,AEA_Diagnosis_21,AEA_Diagnosis_22,AEA_Diagnosis_23,AEA_Diagnosis_24
0,1314620,12345,29857009,68566005,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,27,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## EC_Investigation

nan

,Patient_ID,EC_Ident,EC_Investigation_01,EC_Investigation_02,EC_Investigation_03,EC_Investigation_04,EC_Investigation_05,EC_Investigation_06,EC_Investigation_07,EC_Investigation_08,EC_Investigation_09,EC_Investigation_10,EC_Investigation_11,EC_Investigation_12,EC_Investigation_13,EC_Investigation_14,EC_Investigation_15,EC_Investigation_16,EC_Investigation_17,EC_Investigation_18,EC_Investigation_19,EC_Investigation_20,EC_Investigation_21,EC_Investigation_22,EC_Investigation_23,EC_Investigation_24,AEA_Investigation_01,AEA_Investigation_02,AEA_Investigation_03,AEA_Investigation_04,AEA_Investigation_05,AEA_Investigation_06,AEA_Investigation_07,AEA_Investigation_08,AEA_Investigation_09,AEA_Investigation_10,AEA_Investigation_11,AEA_Investigation_12,AEA_Investigation_13,AEA_Investigation_14,AEA_Investigation_15,AEA_Investigation_16,AEA_Investigation_17,AEA_Investigation_18,AEA_Investigation_19,AEA_Investigation_20,AEA_Investigation_21,AEA_Investigation_22,AEA_Investigation_23,AEA_Investigation_24
0,1314620,12345,252167001,26604007,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,05,03,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## EC_PatientMentalHealth

nan

,Patient_ID,EC_Ident,MH_Classification_01,MH_Start_Date_01,MH_Expiry_Date_01,MH_Classification_02,MH_Start_Date_02,MH_Expiry_Date_02,MH_Classification_03,MH_Start_Date_03,MH_Expiry_Date_03,MH_Classification_04,MH_Start_Date_04,MH_Expiry_Date_04,MH_Classification_05,MH_Start_Date_05,MH_Expiry_Date_05,MH_Classification_06,MH_Start_Date_06,MH_Expiry_Date_06,MH_Classification_07,MH_Start_Date_07,MH_Expiry_Date_07,MH_Classification_08,MH_Start_Date_08,MH_Expiry_Date_08,MH_Classification_09,MH_Start_Date_09,MH_Expiry_Date_09,MH_Classification_010,MH_Start_Date_010,MH_Expiry_Date_010,MH_Classification_011,MH_Start_Date_011,MH_Expiry_Date_011,MH_Classification_012,MH_Start_Date_012,MH_Expiry_Date_012,MH_Classification_013,MH_Start_Date_013,MH_Expiry_Date_013,MH_Classification_014,MH_Start_Date_014,MH_Expiry_Date_014,MH_Classification_015,MH_Start_Date_015,MH_Expiry_Date_015,MH_Classification_016,MH_Start_Date_016,MH_Expiry_Date_016,MH_Classification_017,MH_Start_Date_017,MH_Expiry_Date_017,MH_Classification_018,MH_Start_Date_018,MH_Expiry_Date_018,MH_Classification_019,MH_Start_Date_019,MH_Expiry_Date_019,MH_Classification_20,MH_Start_Date_20,MH_Expiry_Date_20,MH_Classification_21,MH_Start_Date_21,MH_Expiry_Date_21,MH_Classification_22,MH_Start_Date_22,MH_Expiry_Date_22,MH_Classification_23,MH_Start_Date_23,MH_Expiry_Date_23,MH_Classification_24,MH_Start_Date_24,MH_Expiry_Date_24
0,1314620,12345,98,2019-11-05,None,98,2019-10-03,None,98,2019-10-09,None,98,2019-10-14,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## EC_Treatment

nan

,Patient_ID,EC_Ident,EC_Treatment_01,EC_Treatment_02,EC_Treatment_03,EC_Treatment_04,EC_Treatment_05,EC_Treatment_06,EC_Treatment_07,EC_Treatment_08,EC_Treatment_09,EC_Treatment_10,EC_Treatment_11,EC_Treatment_12,EC_Treatment_13,EC_Treatment_14,EC_Treatment_15,EC_Treatment_16,EC_Treatment_17,EC_Treatment_18,EC_Treatment_19,EC_Treatment_20,EC_Treatment_21,EC_Treatment_22,EC_Treatment_23,EC_Treatment_24,AEA_Treatment_01,AEA_Treatment_02,AEA_Treatment_03,AEA_Treatment_04,AEA_Treatment_05,AEA_Treatment_06,AEA_Treatment_07,AEA_Treatment_08,AEA_Treatment_09,AEA_Treatment_10,AEA_Treatment_11,AEA_Treatment_12,AEA_Treatment_13,AEA_Treatment_14,AEA_Treatment_15,AEA_Treatment_16,AEA_Treatment_17,AEA_Treatment_18,AEA_Treatment_19,AEA_Treatment_20,AEA_Treatment_21,AEA_Treatment_22,AEA_Treatment_23,AEA_Treatment_24
0,1314620,12345,56251003,57485005,56251003,57485005,103744005,103744005,392231009,88140007,392231009,88140007,None,None,None,None,None,None,None,None,None,None,None,None,None,None,25,40,25,40,43,43,12,21,12,21,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## ECDS

'A&E presentations from Emergency Care Data Set (ECDS)'

,Patient_ID,EC_Ident,EC_PCD_Indicator,CDS_Type,CDS_Group_Indicator,Finished_Indicator,CDS_Activity_Date,CDS_Interchange_Sender_Identity,CDS_Prime_Recipient_Identity,Provider_Code,Commissioner_Code,SNOMED_Version,RTT_Period_Status,Wait_Time_Measurement_Type,RTT_Period_Start_Date,RTT_Period_End_Date,RTT_Period_Length,NHS_Number_Status_Indicator_Code,NHS_Number_Is_Valid,Withheld_Identity_Reason,Month_of_Birth,Year_of_Birth,Patient_Type,Age_at_CDS_Activity_Date,Age_At_Arrival,Fractional_Age_At_Arrival,HES_Age_At_Arrival,HES_Age_At_Departure,Index_Of_Multiple_Deprivation_Decile,Index_Of_Multiple_Deprivation_Decile_Description,Rural_Urban_Indicator,Cancer_Registry,Sex,Ethnic_Category,Accommodation_Status_SNOMED_CT,Accommodation_Status_Code_Approved,Preferred_Spoken_Language_SNOMED_CT,Preferred_Spoken_Language_Code_Approved,Accessible_Information_Professional_Required_SNOMED_CT,Accessible_Information_Professional_Required_Code_Approved,Interpreter_Language_SNOMED_CT,Interpreter_Language_Code_Approved,Overseas_Visitor_Charging_Category,Site_Code_of_Treatment,EC_Department_Type,Arrival_Date,Arrival_Time,Arrival_Month,EC_Arrival_Mode_SNOMED_CT,Arrival_Mode_Approved,EC_AttendanceCategory,Arrival_Planned,EC_Attendance_Source_SNOMED_CT,Attendance_Source_Organisation,EC_Initial_Assessment_Date,EC_Initial_Assessment_Time,EC_Initial_Assessment_Time_Since_Arrival,EC_Seen_For_Treatment_Date,EC_Seen_For_Treatment_Time,EC_Seen_For_Treatment_Time_Since_Arrival,EC_Conclusion_Date,EC_Conclusion_Time,EC_Conclusion_Time_Since_Arrival,EC_Departure_Date,EC_Departure_Time,EC_Departure_Time_Since_Arrival,EC_Decision_To_Admit_Date,EC_Decision_To_Admit_Time,EC_Decision_To_Admit_Time_Since_Arrival,Decision_To_Admit_Treatment_Function_Code,Decision_To_Admit_Receiving_Site,EC_Discharge_Status_SNOMED_CT,EC_Discharge_Status_Approved,Discharge_Destination_SNOMED_CT,DischargeDestinationApproved,Discharge_Follow_Up_SNOMED_CT,Discharge_Follow_Up_Approved,Discharge_Information_Given_SNOMED_CT,Discharge_Information_Given_Approved,EC_Chief_Complaint_SNOMED_CT,EC_Acuity_SNOMED_CT,EC_Injury_Date,EC_Injury_Time,EC_Injury_Activity_Status_SNOMED_CT,EC_Injury_Activity_Type_SNOMED_CT,EC_Injury_Intent_SNOMED_CT,EC_Injury_Mechanism_SNOMED_CT,EC_Place_Of_Injury_SNOMED_CT,EC_Place_Of_Injury_Latitude,EC_Place_Of_Injury_Longitude,Clinical_Trial_Code,Clinical_Disease_Notification,SUS_Grouper_Version,SUS_Code_Cleaning_Applied,SUS_HRG_Code,SUS_Costing_Period,SUS_Excluded,SUS_Tariff,SUS_Tariff_Description,SUS_MFF,SUS_MFAdjustment,SUS_Final_Price,Age_Range,Clinical_Chief_Complaint_Code_Approved,Clinical_Chief_Complaint_Injury_Related,Clinical_Chief_Complaint_Extended_Code,Clinical_Acuity_Code_Approved,Clinical_Injury_Activity_Status_Code_Approved,Clinical_Injury_Activity_Type_Code_Approved,Clinical_Injury_Intent_Code_Approved,Clinical_Injury_Place_Type_Approved,DQ_Chief_Complaint_Expected,DQ_Chief_Complaint_Completed,DQ_Chief_Complaint_Valid,DQ_Primary_Diagnosis_Expected,DQ_Primary_Diagnosis_Completed,DQ_Primary_Diagnosis_Valid,Exclusions,Reason_For_Access,Der_Provider_Code,Der_Provider_Site_Code,Der_Commissioner_Code,Der_Age_At_CDS_Activity_Date,Der_Activity_Month,Der_Financial_Year,Der_Number_AEA_Diagnosis,Der_Number_EC_Diagnosis,Der_Number_AEA_Investigation,Der_Number_EC_Investigation,Der_Number_AEA_Treatment,Der_Number_EC_Treatment,Der_AEA_Diagnosis_All,Der_EC_Diagnosis_All,Der_AEA_Investigation_All,Der_EC_Investigation_All,Der_AEA_Treatment_All,Der_EC_Treatment_All,Der_EC_Arrival_Date_Time,Der_EC_Departure_Date_Time,Der_EC_Duration,Der_Dupe_Flag,Der_Record_Type,Der_AEA_Patient_Group
0,1314620,1234,0,011,4,1,2018-09-23,RNQ00,04G,RNQ,04G,25.0.0,None,None,None,None,None,01,True,None,5,1975,ADU,43,43,43.0,43,43,3,More deprived 20-30%,5,Y0901,1,A,242711000000100,True,315570003,True,315595002,True,None,None,X,RNQ51,01,2018-09-23,17:00,9,1048071000000103,True,1,False,879591000000102,None,2018-09-23,08:00,6,2018-09-23,19:55:20,132,2018-09-23,21:40:53,237,2018-09-23,21:40:53,237,None,None,None,None,None,182992009,True,306706006,True,3780001,True,None,None,29857009,1064911000000105,None,None,None,None,None,None,None,None,None,None,None,P1819,False,VB07Z,M06 - Sep 2018,False,144.0,MAND,1.054268,8.0,152.0,9,True,False,None,True,None,None,None,None,True,True,True,True,True,True,None,National,RNQ,RNQ51,04G,37,201809,2018/19,1,1,7,7,3,3,35,"197480006, 197480007, 197480008","05, 05, 16, 14, 03, 05, 05","252167001, 55235003, 74500006, 3116009, 266040...","12, 21, 511","392231009, 88140007, 18629005",2018-09-23 07:40:00,2018-09-23 21:40:00,237,0,Hist,80
1,1314620,4567,0,011,4,1,2019-01-23,RNQ00,04G,RNQ,04G,25.0.0,None,None,None,None,None,01,True,None,5,1975,ADU,43,43,43.0,43,43,3,More deprived 20-30%,5,Y0901,1,A,242711000000100,True,315570003,True,315595002,True,None,None,X,RNQ51,01,2019-01-23,17:00,9,1048071000000103,True,1,False,879591000000102,None,2019-01-23,08:00,6,2019-01-23,19:55:20,132,2019-01-23,21:40:53,237,2019-01-23,21:40:53,237,None,None,None,None,None,182992009,True,306706006,True,3780001,True,None,None,29857009,1064911000000105,None,None,None,None,None,None,None,None,None,None,None,P1819,False,VB07Z,M06 - Sep 2019,False,144.0,MAND,1.054268,8.0,152.0,9,True,False,None,True,None,None,None,None,True,True,True,True,True,True,None,National,RNQ,RNQ51,04G,37,201909,2019/19,1,1,7,7,3,3,35,"197480009, 197480010","05, 05, 16, 14, 03, 05, 05","252167001, 55235003, 74500006, 3116009, 266040...","12, 21, 511","392231009, 88140007, 18629005",2019-01-23 07:40:00,2019-01-23 21:40:00,237,0,Hist,80

## ECDS_EC_Diagnoses

'Diagnosis codes required to extract relevant A&E presentations from ECDS'

   Patient_ID  EC_Ident  Ordinal DiagnosisCode
0     1314620      1234        1     197480006
1     1314620      1234        2     197480007
2     1314620      1234        3     197480008
3     1314620      4567        1     197480009
4     1314620      4567        2     197480010

## Household

nan

,Household_ID,MSOA,NFA_Unknown,CareHome,Prison,HouseholdSize,MatchesUprnCount,MixedSoftwareHousehold,TppPercentage
0,1,S02001286,False,False,False,1,False,False,100
1,2,S02001286,False,False,False,1,False,False,100
2,3,S02001285,False,False,False,1,False,False,100
3,4,S02002073,False,False,False,1,False,False,100
4,5,S02001296,False,False,False,1,False,False,100

## HouseholdMember

nan

   HouseholdMember_ID  Patient_ID  Household_ID
0               12828           6         20394
1               12829           8         31482
2               12830          18         38489
3               12831          19         20270
4               12832          21         13706

## ICD10Dictionary

'Translation for ICD10 (diagnosis) codes'

,Code,CodeDescription,ParentCode,ParentCodeDescription
0,A00,Cholera,,
1,A000,"Cholera due to Vibrio cholerae 01, biovar chol...",A00,Cholera
2,A001,"Cholera due to Vibrio cholerae 01, biovar eltor",A00,Cholera
3,A009,"Cholera, unspecified",A00,Cholera
4,A01,Typhoid and paratyphoid fevers,,

## ICNARC

'Intensive treatment unit (ITU) admissions and ventilation'

,Patient_ID,ICNARC_ID,CalculatedAge,EstimatedAge,Sex,OriginalHospitalAdmissionDate,HospitalAdmissionDate,IcuAdmissionDateTime,TransferredIn,OriginalIcuAdmissionDate,HighestLevelFirst24Hours,Ventilator,AP2score,IMscore,pfratio,BasicDays_RespiratorySupport,AdvancedDays_RespiratorySupport,BasicDays_CardiovascularSupport,AdvancedDays_CardiovascularSupport,SupportDays_Renal,SupportDays_Neurological,SupportDays_Gastrointestinal,SupportDays_Dermatological,SupportDays_Liver,Level3days,Level2days,Level1days,Level0days,HRG,yusurv,IcuDischargeDateTime,TransferredOut,ausurv,UltimateIcuDischargeDate,yhsurv,HospitalDischargeDate,ahsurv,UltimateHospitalDischargeDate,DateOfDeath
0,1307327,4,70,0,M,None,2020-02-25,2020-03-03 14:30:00,N,None,2,0,19,11,11.20000,1,12,12,1,1,0,11,0,0,13,1,0,0,XC03Z,1,2020-03-14 10:20:00,None,1.0,None,1.0,None,1.0,None,2020-03-15
1,1307644,1,42,0,M,None,2020-02-29,2020-03-02 05:10:00,Y,None,2,0,12,13,8.24530,0,3,3,0,0,0,3,0,0,3,0,0,0,XC05Z,0,2020-03-04 18:30:00,A,NaN,None,0.0,None,NaN,None,2020-03-04
2,1314239,2,51,0,M,None,2020-02-27,2020-03-02 12:05:00,N,None,3,1,17,11,13.75430,0,5,5,0,0,0,4,0,0,5,0,0,0,XC05Z,0,2020-03-04 15:40:00,A,NaN,None,0.0,None,NaN,None,NaT
3,1314620,3,73,0,M,None,2020-02-28,2020-03-02 10:30:00,N,None,3,1,18,11,9.11735,1,3,4,0,0,0,2,0,0,3,1,0,0,XC05Z,0,2020-03-04 04:30:00,A,NaN,None,0.0,None,NaN,None,NaT
4,1315042,5,61,0,F,None,2020-02-07,2020-03-02 15:26:00,N,None,2,0,18,12,35.00000,5,0,10,0,0,0,16,0,0,0,14,2,0,XC06Z,0,2020-03-16 15:54:00,N,0.0,None,NaN,None,NaN,None,NaT

## LatestBuildTime

nan

            DtLatestBuild
0 2020-10-13 14:35:17.193

## MedicationDictionary

'Dictionary of medicines in primary care'

,MultilexDrug_ID,ProductId,FullName,RootName,PackDescription,Form,Strength,CompanyName,DMD_ID
0,1;5;0,5000001,UltraLite ileostomy bag 501422 22mm Opaque (Ma...,UltraLite,3396,ileobag,22mm,MARLEN HEALTHCARE,6718111000001101
1,1;5;1,5000001,UltraLite ileostomy bag 501422 22mm Opaque (Ma...,UltraLite,bag,ileobag,22mm,MARLEN HEALTHCARE,6718111000001101
2,1;999;0,999000001,10-10 STEP 1 (form not specified),10-10 STEP 1,,,,,
3,10;1;0,1000010,ACTIFED MULTI-ACTION DRY COUGH linctus [PFIZER],ACTIFED,,linctus,,PFIZER CONSUMER HEALTHCARE,
4,10;1;1,1000010,ACTIFED MULTI-ACTION DRY COUGH linctus [PFIZER],ACTIFED,mls,linctus,,PFIZER CONSUMER HEALTHCARE,

## MedicationIssue

'Issue date for medicines in primary care'

,Patient_ID,Consultation_ID,MedicationIssue_ID,RepeatMedication_ID,MultilexDrug_ID,Dose,Quantity,StartDate,EndDate,MedicationStatus,ConsultationDate
0,2,2711953285,2589772073,-1,2902;5;0,use as directed,1 pack,2019-03-04,2019-03-16,0,2019-03-04 12:35:46
1,2,2351904198,2316457443,-1,20409;1;0,insert one as directed,1 suppository,2015-02-26,2015-02-27,0,2015-02-26 12:50:25
2,2,2533279528,2460812795,-1,20946;1;0,use as directed,1 pre-filled disposable injection,2017-02-13,2017-02-14,0,2017-02-13 12:33:02
3,2,2711953286,2589772074,-1,2902;5;0,use as directed,1 pack,2019-03-04,2019-03-25,0,2019-03-04 12:28:15
4,2,2421657585,2381009120,517436,1223;2;0,take one daily,28 tablet,2015-11-09,2015-12-07,0,2015-11-09 09:52:12

## MedicationRepeat

'Repeat medications issued in primary care'

,Patient_ID,Consultation_ID,MedicationRepeat_ID,MultilexDrug_ID,Dose,Quantity,StartDate,EndDate,MedicationStatus,ConsultationDate
0,2,15641773,1544255,2873;1;0,take one 3 times/day,84 tablets,2013-04-12,2015-02-26 00:00:00,0,2013-04-12 14:29:12
1,2,15641773,1544256,7322;1;0,take 1 or 2 As directed,20 capsule,2013-04-12,9999-12-31 00:00:00,0,2013-04-12 14:29:12
2,2,2421657585,517436,1223;2;0,take one daily,28 tablet,2015-11-09,9999-12-31 00:00:00,0,2015-11-09 09:52:12
3,2,2351904198,1286177,2873;1;0,take one 3 times/day,84 tablet,2015-02-26,9999-12-31 00:00:00,0,2015-02-26 12:50:25
4,14,22904016,3305841,5055;1;1,inhale 1 dose 3-4 times/day,4 packs of 20 X 2.5ml single dose vial,2014-01-10,2019-03-06 00:00:00,0,2014-01-10 09:27:03

## MedicationSensitivity

'Drug allergies recorded in primary care'

,Patient_ID,Consultation_ID,MedicationSensitivity_ID,MultilexDrug_ID,StartDate,FormulationSpecific,Ended,ConsultationDate
0,2,2533279523,22176,9137;1;0,2017-02-13,False,False,2017-02-13 14:30:16
1,6,22181629,62326,6363;1;0,2013-12-18,False,False,2013-12-18 10:32:54
2,8,22122488,57128,5428;1;0,2013-12-17,False,False,2013-12-17 16:50:14
3,18,2208344482,56957,8918;2;0,2013-03-04,False,False,2013-03-04 16:34:55
4,23,22181708,62325,20407;1;0,2013-12-18,False,False,2013-12-18 10:30:45

## MPI

nan

,Patient_ID,Gender,Birth_Month,Death_Month,RP_of_Death,DateFrom,DateTo,Date_Added,Original_Posting_Date,Data_Source,Latest_Flag,Care_Home_Flag,ServiceType,Living_Alone_Flag,Living_with_young_Flag,Living_with_elderly_Flag,OS_Property_Classification,Rural_Urban_Classification,property_type,private_outdoor_space,private_outdoor_space_area,Pseudo_uprn,Pseudo_parent_uprn
0,10017,M,1934-09,None,None,2015-07-01,None,1999-07-01,1973-10-22,NHAIS 2015-07,1,0,None,0,1,1,RD02,Urban major conurbation,house,True,179.24855,0x123456789,0x123456789
1,1273507,M,1934-09,None,None,2015-07-01,None,1999-07-01,1973-10-22,NHAIS 2015-07,1,0,None,0,1,1,RD02,Urban major conurbation,house,True,179.24855,0x123456781,0x123456781
2,1335201,M,1934-09,None,None,2015-07-01,None,1999-07-01,1973-10-22,NHAIS 2015-07,1,0,None,0,1,1,RD02,Urban major conurbation,house,True,179.24855,0x123456780,0x123456780
3,1335260,M,1934-09,None,None,2015-07-01,None,1999-07-01,1973-10-22,NHAIS 2015-07,1,0,None,0,1,1,RD02,Urban major conurbation,house,True,179.24855,0x123456780,0x123456780

## MSOA_PopulationEstimates_2019

nan

,MSOA_Code,LA_Code_2019,LA_Code_2020,Age_All,Age_0,Age_1,Age_2,Age_3,Age_4,Age_5,Age_6,Age_7,Age_8,Age_9,Age_10,Age_11,Age_12,Age_13,Age_14,Age_15,Age_16,Age_17,Age_18,Age_19,Age_20,Age_21,Age_22,Age_23,Age_24,Age_25,Age_26,Age_27,Age_28,Age_29,Age_30,Age_31,Age_32,Age_33,Age_34,Age_35,Age_36,Age_37,Age_38,Age_39,Age_40,Age_41,Age_42,Age_43,Age_44,Age_45,Age_46,Age_47,Age_48,Age_49,Age_50,Age_51,Age_52,Age_53,Age_54,Age_55,Age_56,Age_57,Age_58,Age_59,Age_60,Age_61,Age_62,Age_63,Age_64,Age_65,Age_66,Age_67,Age_68,Age_69,Age_70,Age_71,Age_72,Age_73,Age_74,Age_75,Age_76,Age_77,Age_78,Age_79,Age_80,Age_81,Age_82,Age_83,Age_84,Age_85,Age_86,Age_87,Age_88,Age_89,Age_90_Plus
0,E02000001,E09000001,E09000001,9721,75,86,93,85,123,114,101,125,117,87,94,84,86,68,85,71,60,67,80,69,127,148,170,185,259,222,254,235,227,125,146,149,120,156,105,116,119,164,130,104,120,91,112,68,140,134,111,139,112,148,137,180,132,147,114,144,128,128,117,112,104,125,90,94,121,97,103,86,94,111,90,112,99,65,73,51,65,55,53,57,55,49,42,24,38,15,34,16,25,15,118
1,E02000002,E09000002,E09000002,7735,137,134,133,144,141,136,124,158,127,146,144,145,107,112,115,129,105,110,94,81,75,73,81,91,102,101,97,112,101,114,109,120,116,113,138,104,93,117,95,94,96,121,122,107,104,103,96,89,112,103,88,86,94,93,88,96,74,72,79,65,56,55,63,46,50,47,49,52,50,37,42,32,42,37,51,45,38,40,32,42,17,45,36,39,24,20,23,24,21,19,105
2,E02000003,E09000002,E09000002,11174,196,195,186,192,178,169,182,173,135,163,142,152,167,120,150,122,139,132,130,98,112,114,146,110,171,165,150,185,190,183,186,224,208,188,212,174,204,178,175,179,183,162,145,126,136,144,147,132,166,146,130,145,130,119,127,134,112,138,110,127,130,99,111,104,88,66,70,77,72,69,73,67,69,66,73,45,53,45,37,47,43,38,40,31,34,28,28,23,16,20,78
3,E02000004,E09000002,E09000002,6687,108,66,106,104,90,115,82,92,79,86,75,77,70,82,75,73,70,66,103,65,82,101,92,117,121,117,122,93,111,95,97,109,99,75,94,91,73,78,80,85,70,61,70,68,60,108,86,82,90,90,83,80,105,74,88,83,89,70,94,100,83,72,76,76,62,49,52,39,46,43,46,54,56,53,28,36,46,52,41,32,36,32,34,29,28,19,30,20,17,17,116
4,E02000005,E09000002,E09000002,10432,166,193,219,205,185,182,191,183,186,172,191,186,173,181,141,142,146,158,149,120,99,88,126,118,127,152,129,148,162,152,161,165,194,166,194,185,157,167,166,182,158,152,144,157,148,129,144,142,144,157,125,121,138,118,114,134,123,113,82,76,85,80,75,68,74,54,62,41,46,44,51,52,56,52,37,47,29,30,25,34,23,29,33,22,30,19,18,13,10,14,53

## ONS_Deaths

'All cause deaths from ONS (includes non-hospital deaths)'

,Patient_ID,sex,ageinyrs,dod,FIC10UND,icd10u,ICD10001,ICD10002,ICD10003,ICD10004,ICD10005,ICD10006,ICD10007,ICD10008,ICD10009,ICD10010,ICD10011,ICD10012,ICD10013,ICD10014,ICD10015,FIC10MEN1,FIC10MEN2,FIC10MEN3,FIC10MEN4,FIC10MEN5,FIC10MEN6,FIC10MEN7,FIC10MEN8,FIC10MEN9,FIC10MEN10,FIC10MEN11,FIC10MEN12,FIC10MEN13,FIC10MEN14,FIC10MEN15
0,10008,2,99,2020-02-01,N390,N390,R54,None,None,None,None,None,None,None,None,None,None,None,None,\r\n0xE553349AC43A16B3A9C197A8C68AF9B8,1,84,20200201,I64,J690,I64,None,None,None,None,None,None,None,None,None,",,,"
1,10017,1,68,2020-03-14,I710,J189,I710,N189,N19,Z992,I251,I259,Z951,I359,I38,Z952,None,None,None,\r\n0x0F6A6ABCF8403EB3983A2CD4C12ED2B1,2,95,20200314,F03,R54,F03,None,None,None,None,None,None,None,None,None,",,,"
2,10033,2,63,2020-03-14,C679,R58,C679,K740,None,None,None,None,None,None,None,None,None,None,None,\r\n0x4A6CDEBBF7E2AA8F5F8068A83466B654,1,71,20200314,C349,J690,C349,I259,R688,None,None,None,None,None,None,None,",,,"
3,10043,1,44,2020-03-14,I710,G935,I64,I710,None,None,None,None,None,None,None,None,None,None,None,\r\n0x8E06350A4CD56E9B7F4509C600D06AAE,2,29,20200314,J189,A419,U071,J189,None,None,None,None,None,None,None,None,",,,"
4,10047,2,59,2020-03-14,I219,I219,I251,None,None,None,None,None,None,None,None,None,None,None,None,\r\n0xD957A60F8BCF949AD49903EBA23DBD10,1,58,20200314,I269,I269,K519,None,None,None,None,None,None,None,None,None,",,,"

## Organisation

'Practice codes'

   Organisation_ID GoLiveDate    STPCode   MSOACode                    Region
0                8 1999-03-01             E02002357
1               16 1999-07-01  E54000005  E02002357  Yorkshire and The Humber
2               19 2000-01-01  E54000005  E02002190  Yorkshire and The Humber
3               20 2000-01-01  E54000005  E02002191  Yorkshire and The Humber
4              320 2010-08-01  E54000016  E02002346             West Midlands

## Patient

'DOB, DOD, sex as recorded in primary care'

   Patient_ID DateOfBirth DateOfDeath Sex
0           1  1920-01-01  9999-12-01   M
1           2  1982-12-01  2019-04-01   F
2           3  1919-02-01  9999-12-01   F
3           6  1949-07-01  9999-12-01   M
4           8  1933-06-01  9999-12-01   M

## PatientAddress

'Patient address type, location, ruralness, deprivation score'

,Patient_ID,PatientAddress_ID,StartDate,EndDate,AddressType,RuralUrbanClassificationCode,ImdRankRounded,MSOACode
0,1,99299785,2019-04-24 10:20:47,2020-01-28 00:00:00,0,1,14700,E02002346
1,1,99299784,2019-04-01 10:21:27,2019-04-24 00:00:00,0,1,14700,E02002346
2,2,397106,1999-11-02 18:28:18,1999-11-02 00:00:00,0,5,32800,E02006508
3,2,1205649,1999-11-02 12:59:00,9999-12-31 00:00:00,0,-1,-1,
4,6,1446959,2007-03-27 14:16:44,9999-12-31 00:00:00,0,-1,-1,

## PotentialCareHomeAddress

nan

,Patient_ID,PatientAddress_ID,LocationRequiresNursing,LocationDoesNotRequireNursing
0,128,2158725574,N,Y

## QOFClusterReference

'QOF codess with links to CTV3 codes and descriptions'

,ClusterType,ClusterName,CTV3Code,Description
0,ACEDEC,Codes indicating the patient has chosen not to...,XaIIm,Angiotensin converting enzyme inhibitor declined
1,AFIB,Atrial fibrillation codes,G573.,Atrial fibrillation and flutter
2,AFIB,Atrial fibrillation codes,G5730,Atrial fibrillation
3,AFIB,Atrial fibrillation codes,G5731,Atrial flutter
4,AFIB,Atrial fibrillation codes,G573z,Atrial fibrillation and flutter NOS

## RegistrationHistory

"Patient's practice registration history"

,Registration_ID,Organisation_ID,Patient_ID,StartDate,EndDate
0,1737208,8,1,2019-04-24,2020-01-28 00:00:00
1,2731273,16,2,2003-11-17,9999-12-31 00:00:00
2,2885924,16,3,1995-08-08,2012-08-13 00:00:00
3,2885921,16,6,1995-07-27,9999-12-31 00:00:00
4,2885919,16,8,1995-07-25,9999-12-31 00:00:00

## SGSS_Negative

'Negative lab results for covid test'

,Patient_ID,Organism_Species_Name,Earliest_Specimen_Date,Lab_Report_Date,Age_In_Years,Patient_Sex,County_Description,PostCode_Source,Lab_Type
0,10274,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-22,2020-03-25,25,Female,London,P,OTHER
1,10277,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-04,2020-04-07,27,Female,Essex,P,OTHER
2,10279,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-16,2020-04-19,40,Female,London,P,PILLAR 2 TESTING
3,10283,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-18,2020-04-23,20,Female,Hampshire,P,OTHER
4,10288,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-21,2020-03-29,43,Male,Manchester,P,OTHER

## SGSS_Positive

'Positive lab results for covid test'

,Patient_ID,Organism_Species_Name,Earliest_Specimen_Date,Lab_Report_Date,Age_In_Years,Patient_Sex,County_Description,PostCode_Source,Lab_Type
0,10007,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-22,2020-03-25,25,Female,London,P,OTHER
1,10008,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-04,2020-04-07,27,Female,Essex,P,OTHER
2,10017,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-16,2020-04-19,40,Female,London,P,OTHER
3,10019,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-18,2020-04-23,20,Female,Hampshire,P,PILLAR 2 TESTING
4,10033,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-21,2020-03-29,43,Male,Manchester,P,OTHER

## sysdiagrams

''

Empty DataFrame
Columns: [name, principal_id, diagram_id, version, definition]
Index: []

## UnitDictionary

'Ranges and units for CTV3 codes with units'

,UnitDictionary_ID,CTV3Code,Units,Minimum,Maximum,LowerNormalBound,UpperNormalBound,DecimalPlaces
0,1,229..,m,0.0,3.0,-1.0,-1.0,3
1,2,22A..,Kg,0.0,400.0,-1.0,-1.0,3
2,3,22K..,Kg/m²,0.0,150.0,0.0,50.0,2
3,4,XE2wr,L/min,0.0,800.0,76.0,635.0,2
4,5,66CB.,Kg,0.0,600.0,50.0,90.0,2

## UPRN

nan

,Pseudo_uprn,Pseudo_parent_uprn,class,Total_Pop,_0to4,_5to9,_10to14,_15to19,_20to24,_25to29,_30to34,_40to44,_45to49,_50to54,_55to59,_60to64,_65to69,_70to74,_75to79,_80to84,_85Plus,Care_Home_Flag,ServiceType,Rural_Urban_Classification,property_type,private_outdoor_space,private_outdoor_space_area
0,0x123456780,0x123456780,RD03,2,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,None,Urban city and town,house,True,255.33188
1,0x123456781,0x123456781,RD03,2,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,None,Urban city and town,house,True,255.33188
2,0x123456789,0x123456789,RD03,4,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,None,Urban city and town,house,True,255.33188

## Vaccination

'Patient vaccination record'

,Patient_ID,Vaccination_ID,VaccinationDate,VaccinationName,VaccinationName_ID,VaccinationSchedulePart
0,3,339777,2015-06-02 11:54:34,Mumps,58,1
1,3,339776,2015-06-02 11:34:14,DTP + Polio,192,1
2,3,386215,2015-07-14 10:40:38,dTP,2573,2
3,3,386225,2015-07-09 16:48:38,Menjugate (Babies 2-4 months),132,1
4,23,319247,2019-04-08 11:11:55,HNIG,190,1

## VaccinationReference

'Vaccination info'

   VaccinationName_ID          VaccinationName VaccinationContent
0                   1  Typhim VI - Single Dose            TYPHOID
1                   2                Hepatyrix            TYPHOID
2                   2                Hepatyrix        HEPATITIS A
3                   3   Typherix - Single Dose            TYPHOID
4                   4               Infant BCG                BCG