In [1]:
import pyodbc
import pandas as pd
from IPython.display import display, Markdown

In [2]:
server = 'covid.ebmdatalab.net,1433'
database = 'OPENCoronaExport' 
username = 'SA'
password = 'ahsjdkaJAMSHDA123[' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [3]:
# select command
query = '''select name from sys.objects where type_desc='USER_TABLE' order by name'''
df = pd.read_sql(query, cnxn)
df

                        name
0                Appointment
1                 CodedEvent
2            CodedEventRange
3               Consultation
4                       CPNS
5             CTV3Dictionary
6             DataDictionary
7                       ECDS
8          ECDS_EC_Diagnoses
9        EthnicityCodedEvent
10           ICD10Dictionary
11                    ICNARC
12           LatestBuildTime
13      MedicationDictionary
14           MedicationIssue
15          MedicationRepeat
16     MedicationSensitivity
17                ONS_Deaths
18              Organisation
19                   Patient
20            PatientAddress
21  PotentialCareHomeAddress
22       QOFClusterReference
23       RegistrationHistory
24             SGSS_Negative
25             SGSS_Positive
26               sysdiagrams
27            UnitDictionary
28               Vaccination
29      VaccinationReference

In [4]:
desc = pd.DataFrame([["Appointment", "Primary care appointment dates"],
["CodedEvent", "Recorded events in primary care, e.g. prescriptions, referrals, diagnoses"],
["CodedEventRange", "Possible value ranges for events in `coded event` table"],
["Consultation", "Primary care consultation dates and IDs"],
["CPNS", "Daily COVID-related in-hospital deaths (may be incomplete)"],
["DataDictionary","Translation for codes present in TPP Data"],
["ECDS","A&E presentations from Emergency Care Data Set (ECDS)"],
["ECDS_EC_Diagnoses","Diagnosis codes required to extract relevant A&E presentations from ECDS"],
["EthnicityCodedEvent","Subset of CodedEvent table related to ethnicity"],
["ICD10Dictionary","Translation for ICD10 (diagnosis) codes"],
["ICNARC","Intensive treatment unit (ITU) admissions and ventilation"],
["LastestBuildTime",""],
["MedicationDictionary","Dictionary of medicines in primary care"],
["MedicationIssue","Issue date for medicines in primary care"],
["MedicationIssue_CVD_Meds","Subset of MedicationIssue table for CVD (cardiovascular disease)"],
["MedicationList_CVD_Meds","List of medicines for CVD (cardiovascular disease)"],
["MedicationRepeat","Repeat medications issued in primary care"],
["MedicationSensitivity", "Drug allergies recorded in primary care"],
["ONS_Deaths","All cause deaths from ONS (includes non-hospital deaths)"],
["Organisation","Practice codes"],
["Patient","DOB, DOD, sex as recorded in primary care"],
["PatientAddress","Patient address type, location, ruralness, deprivation score"],
["QOFClusterReference","QOF codess with links to CTV3 codes and descriptions"],
["RegistrationHistory","Patient's practice registration history"],
["SGSS_Negative","Negative lab results for covid test"],
["SGSS_Positive","Positive lab results for covid test"],
["sysdiagrams",""],
["UnitDictionary","Ranges and units for CTV3 codes with units"],
["Vaccination","Patient vaccination record"],
["VaccinationReference","Vaccination info"]
], columns=["name", "Description"])

df1 = df.merge(desc, on="name", how="left")

In [5]:
# increase column display limit so that we can see all columns for each dataframe
pd.set_option('display.max_columns', 200)

for i, table in enumerate(df1['name']):
    sql = f"select TOP 10  * from {table}"
    display(Markdown(f"## {table}"))
    desc = df1.iloc[i]["Description"]
    display (desc)
    display(pd.read_sql(sql, cnxn).head())

## Appointment

'Primary care appointment dates'

,Patient_ID,Appointment_ID,Organisation_ID,BookedDate,StartDate,EndDate,ArrivedDate,SeenDate,FinishedDate,Status
0,1,2341801128,8,2019-04-24 10:26:56,2019-04-24 10:50:00,2019-04-24 10:55:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
1,1,2342251089,8,2019-04-26 13:11:28,2019-04-26 15:20:00,2019-04-26 15:30:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
2,2,1323903,16,2013-04-17 09:33:41,2013-04-17 09:40:00,2013-04-17 09:50:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
3,2,1624379,16,2013-04-18 10:23:53,2013-04-18 10:30:00,2013-04-18 10:40:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2
4,2,1624380,16,2013-04-18 10:27:28,2013-04-18 10:40:00,2013-04-18 10:50:00,9999-12-31 00:00:00,9999-12-31 00:00:00,9999-12-31 00:00:00,2

## CodedEvent

'Recorded events in primary care, e.g. prescriptions, referrals, diagnoses'

,Patient_ID,Consultation_ID,CodedEvent_ID,CTV3Code,NumericValue,ConsultationDate
0,1,2723801383,1326111076,Xa1kG,0.0,2019-04-24 10:50:00
1,1,2724343380,1327710892,Xa1kG,0.0,2019-04-26 15:20:00
2,2,103046046,1789792,G....,0.0,2004-02-04 08:14:46
3,2,13873540,11846929,Ub0Qd,-1.0,2010-08-25 14:07:07
4,2,14562692,13598234,Y2619,0.0,2011-07-12 09:18:35

## CodedEventRange

'Possible value ranges for events in `coded event` table'

,Patient_ID,CodedEvent_ID,CodedEventRange_ID,Consultation_ID,LowerBound,UpperBound,Comparator
0,18,14676569,370566,20318999,-1.0,-1.0,4
1,18,14677171,370616,20319427,-1.0,-1.0,5
2,18,14677172,370617,20319428,-1.0,-1.0,5
3,18,14677173,370618,20319429,-1.0,-1.0,5
4,18,14677174,370619,20319430,-1.0,-1.0,6

## Consultation

'Primary care consultation dates and IDs'

   Patient_ID  Consultation_ID  Registration_ID    ConsultationDate
0           1       2723443768          1737208 2019-04-24 10:21:38
1           1       2723443769          1737208 2019-04-24 10:21:32
2           1       2723443770          1737208 2019-04-24 10:21:32
3           1       2723443771          1737208 2019-04-01 10:21:27
4           1       2723443772          1737208 2019-04-24 10:20:47

## CPNS

'Daily COVID-related in-hospital deaths (may be incomplete)'

,Patient_ID,Id,LocationOfDeath,Sex,DateOfAdmission,DateOfSwabbed,DateOfResult,RelativesAware,TravelHistory,RegionCode,RegionName,OrganisationCode,OrganisationName,OrganisationTypeLot,RegionApproved,RegionalApprovedDate,NationalApproved,NationalApprovedDate,PreExistingCondition,Age,DateOfDeath,snapDate,HadLearningDisability,ReceivedTreatmentForMentalHealth,Der_Ethnic_Category_Description,Der_Latest_SUS_Attendance_Date_For_Ethnicity,Der_Source_Dataset_For_Ethnicty
0,10007,1234,ITU,M,2020-04-02,2020-04-02,2020-04-03,Y,False,Y62,North West,ABC,Test Hospital Trust,Hospital,True,2020-04-09,True,2020-04-09,False,57,2020-04-07,2020-04-09,NK,NK,None,None,None
1,10008,1235,Acute Ward,M,2020-03-22,2020-03-22,2020-03-22,Y,False,Y58,South West,ABC,Test Hospital Trust,Hospital,True,2020-04-05,True,2020-04-05,True,83,2020-04-05,2020-04-05,NK,NK,A: British,2020-03-22 00:00:00,ECDS_Daily
2,10011,1236,Acute Ward,M,2020-02-23,2020-03-30,2020-04-02,Y,False,Y61,East Of England,ABC,Test Hospital Trust,Hospital,True,2020-04-04,True,2020-04-04,True,82,2020-04-02,2020-04-04,N,N,A: British,2020-03-23 00:00:00,ECDS_Daily
3,10017,1237,Acute Ward,F,2020-03-17,2020-03-31,2020-04-02,Y,False,Y63,North East and Yorkshire,ABC,Test Hospital Trust,Hospital,True,2020-04-05,True,2020-04-05,True,72,2020-04-05,2020-04-05,N,N,A: British,2020-03-16 00:00:00,ECDS_Daily

## CTV3Dictionary

nan

  CTV3Code                                      Description
0    .....                                   Read thesaurus
1    .69D1  Geriatric health examination (& [annual check])
2    .9313               Lloyd George culled and summarised
3    .A22.                           Pulmonary tuberculosis
4    0....                                      Occupations

## DataDictionary

'Translation for codes present in TPP Data'

            Table         Type Code    Description
0         Patient          Sex    M           Male
1         Patient          Sex    F         Female
2         Patient          Sex    I  Indeterminate
3         Patient          Sex    U    Unspecified
4  PatientAddress  AddressType    0      Permanent

## ECDS

'A&E presentations from Emergency Care Data Set (ECDS)'

,Patient_ID,EC_Ident,EC_PCD_Indicator,CDS_Type,CDS_Group_Indicator,Finished_Indicator,CDS_Activity_Date,CDS_Interchange_Sender_Identity,CDS_Prime_Recipient_Identity,Provider_Code,Commissioner_Code,SNOMED_Version,RTT_Period_Status,Wait_Time_Measurement_Type,RTT_Period_Start_Date,RTT_Period_End_Date,RTT_Period_Length,NHS_Number_Status_Indicator_Code,NHS_Number_Is_Valid,Withheld_Identity_Reason,Month_of_Birth,Year_of_Birth,Patient_Type,Age_at_CDS_Activity_Date,Age_At_Arrival,Fractional_Age_At_Arrival,HES_Age_At_Arrival,HES_Age_At_Departure,Index_Of_Multiple_Deprivation_Decile,Index_Of_Multiple_Deprivation_Decile_Description,Rural_Urban_Indicator,Cancer_Registry,Sex,Ethnic_Category,Accommodation_Status_SNOMED_CT,Accommodation_Status_Code_Approved,Preferred_Spoken_Language_SNOMED_CT,Preferred_Spoken_Language_Code_Approved,Accessible_Information_Professional_Required_SNOMED_CT,Accessible_Information_Professional_Required_Code_Approved,Interpreter_Language_SNOMED_CT,Interpreter_Language_Code_Approved,Overseas_Visitor_Charging_Category,Site_Code_of_Treatment,EC_Department_Type,Arrival_Date,Arrival_Time,Arrival_Month,EC_Arrival_Mode_SNOMED_CT,Arrival_Mode_Approved,EC_AttendanceCategory,Arrival_Planned,EC_Attendance_Source_SNOMED_CT,Attendance_Source_Organisation,EC_Initial_Assessment_Date,EC_Initial_Assessment_Time,EC_Initial_Assessment_Time_Since_Arrival,EC_Seen_For_Treatment_Date,EC_Seen_For_Treatment_Time,EC_Seen_For_Treatment_Time_Since_Arrival,EC_Conclusion_Date,EC_Conclusion_Time,EC_Conclusion_Time_Since_Arrival,EC_Departure_Date,EC_Departure_Time,EC_Departure_Time_Since_Arrival,EC_Decision_To_Admit_Date,EC_Decision_To_Admit_Time,EC_Decision_To_Admit_Time_Since_Arrival,Decision_To_Admit_Treatment_Function_Code,Decision_To_Admit_Receiving_Site,EC_Discharge_Status_SNOMED_CT,EC_Discharge_Status_Approved,Discharge_Destination_SNOMED_CT,DischargeDestinationApproved,Discharge_Follow_Up_SNOMED_CT,Discharge_Follow_Up_Approved,Discharge_Information_Given_SNOMED_CT,Discharge_Information_Given_Approved,EC_Chief_Complaint_SNOMED_CT,EC_Acuity_SNOMED_CT,EC_Injury_Date,EC_Injury_Time,EC_Injury_Activity_Status_SNOMED_CT,EC_Injury_Activity_Type_SNOMED_CT,EC_Injury_Intent_SNOMED_CT,EC_Injury_Mechanism_SNOMED_CT,EC_Place_Of_Injury_SNOMED_CT,EC_Place_Of_Injury_Latitude,EC_Place_Of_Injury_Longitude,Clinical_Trial_Code,Clinical_Disease_Notification,SUS_Grouper_Version,SUS_Code_Cleaning_Applied,SUS_HRG_Code,SUS_Costing_Period,SUS_Excluded,SUS_Tariff,SUS_Tariff_Description,SUS_MFF,SUS_MFAdjustment,SUS_Final_Price,Age_Range,Clinical_Chief_Complaint_Code_Approved,Clinical_Chief_Complaint_Injury_Related,Clinical_Chief_Complaint_Extended_Code,Clinical_Acuity_Code_Approved,Clinical_Injury_Activity_Status_Code_Approved,Clinical_Injury_Activity_Type_Code_Approved,Clinical_Injury_Intent_Code_Approved,Clinical_Injury_Place_Type_Approved,DQ_Chief_Complaint_Expected,DQ_Chief_Complaint_Completed,DQ_Chief_Complaint_Valid,DQ_Primary_Diagnosis_Expected,DQ_Primary_Diagnosis_Completed,DQ_Primary_Diagnosis_Valid,Exclusions,Reason_For_Access,Der_Provider_Code,Der_Provider_Site_Code,Der_Commissioner_Code,Der_Age_At_CDS_Activity_Date,Der_Activity_Month,Der_Financial_Year,Der_Number_AEA_Diagnosis,Der_Number_EC_Diagnosis,Der_Number_AEA_Investigation,Der_Number_EC_Investigation,Der_Number_AEA_Treatment,Der_Number_EC_Treatment,Der_AEA_Diagnosis_All,Der_EC_Diagnosis_All,Der_AEA_Investigation_All,Der_EC_Investigation_All,Der_AEA_Treatment_All,Der_EC_Treatment_All,Der_EC_Arrival_Date_Time,Der_EC_Departure_Date_Time,Der_EC_Duration,Der_Dupe_Flag,Der_Record_Type,Der_AEA_Patient_Group
0,1314620,1234,0,011,4,1,2018-09-23,RNQ00,04G,RNQ,04G,25.0.0,None,None,None,None,None,01,True,None,5,1975,ADU,43,43,43.0,43,43,3,More deprived 20-30%,5,Y0901,1,A,242711000000100,True,315570003,True,315595002,True,None,None,X,RNQ51,01,2018-09-23,17:00,9,1048071000000103,True,1,False,879591000000102,None,2018-09-23,08:00,6,2018-09-23,19:55:20,132,2018-09-23,21:40:53,237,2018-09-23,21:40:53,237,None,None,None,None,None,182992009,True,306706006,True,3780001,True,None,None,29857009,1064911000000105,None,None,None,None,None,None,None,None,None,None,None,P1819,False,VB07Z,M06 - Sep 2018,False,144.0,MAND,1.054268,8.0,152.0,9,True,False,None,True,None,None,None,None,True,True,True,True,True,True,None,National,RNQ,RNQ51,04G,37,201809,2018/19,1,1,7,7,3,3,35,"197480006, 197480007, 197480008","05, 05, 16, 14, 03, 05, 05","252167001, 55235003, 74500006, 3116009, 266040...","12, 21, 511","392231009, 88140007, 18629005",2018-09-23 07:40:00,2018-09-23 21:40:00,237,0,Hist,80

## ECDS_EC_Diagnoses

'Diagnosis codes required to extract relevant A&E presentations from ECDS'

   Patient_ID  Ordinal DiagnosisCode
0     1314620        1     197480006
1     1314620        2     197480007
2     1314620        3     197480008

## EthnicityCodedEvent

'Subset of CodedEvent table related to ethnicity'

   Patient_ID  Consultation_ID  CodedEvent_ID CTV3Code ConsultationDate
0           2         82231772       39903070    9SZ..       1982-12-23
1           6          4546445        4353952    9SZ..       1979-04-21
2           6         82231764       39903062    9SZ..       1949-07-13
3           8         82231760       39903058    9SZ..       1933-06-15
4          14         82231748       39903046    9SZ..       1955-07-13

## ICD10Dictionary

'Translation for ICD10 (diagnosis) codes'

,Code,CodeDescription,ParentCode,ParentCodeDescription
0,A00,Cholera,,
1,A000,"Cholera due to Vibrio cholerae 01, biovar chol...",A00,Cholera
2,A001,"Cholera due to Vibrio cholerae 01, biovar eltor",A00,Cholera
3,A009,"Cholera, unspecified",A00,Cholera
4,A01,Typhoid and paratyphoid fevers,,

## ICNARC

'Intensive treatment unit (ITU) admissions and ventilation'

,Patient_ID,ICNARC_ID,CalculatedAge,EstimatedAge,Sex,OriginalHospitalAdmissionDate,HospitalAdmissionDate,IcuAdmissionDateTime,TransferredIn,OriginalIcuAdmissionDate,HighestLevelFirst24Hours,Ventilator,AP2score,IMscore,pfratio,BasicDays_RespiratorySupport,AdvancedDays_RespiratorySupport,BasicDays_CardiovascularSupport,AdvancedDays_CardiovascularSupport,SupportDays_Renal,SupportDays_Neurological,SupportDays_Gastrointestinal,SupportDays_Dermatological,SupportDays_Liver,Level3days,Level2days,Level1days,Level0days,HRG,yusurv,IcuDischargeDateTime,TransferredOut,ausurv,UltimateIcuDischargeDate,yhsurv,HospitalDischargeDate,ahsurv,UltimateHospitalDischargeDate
0,1307327,4,70,0,M,None,2020-02-25,2020-03-03 14:30:00,N,None,2.0,0.0,19.0,11.0,11.20000,1.0,12.0,12.0,1.0,1.0,0.0,11.0,0.0,0.0,13.0,1.0,0.0,0.0,XC03Z,1.0,2020-03-14 10:20:00,None,1.0,None,1.0,None,1.0,None
1,1307644,1,42,0,M,None,2020-02-29,2020-03-02 05:10:00,Y,None,2.0,0.0,12.0,13.0,8.24530,0.0,3.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,XC05Z,0.0,2020-03-04 18:30:00,A,NaN,None,0.0,None,NaN,None
2,1314239,2,51,0,M,None,2020-02-27,2020-03-02 12:05:00,N,None,3.0,1.0,17.0,11.0,13.75430,0.0,5.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,0.0,XC05Z,0.0,2020-03-04 15:40:00,A,NaN,None,0.0,None,NaN,None
3,1314620,3,73,0,M,None,2020-02-28,2020-03-02 10:30:00,N,None,3.0,1.0,18.0,11.0,9.11735,1.0,3.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,3.0,1.0,0.0,0.0,XC05Z,0.0,2020-03-04 04:30:00,A,NaN,None,0.0,None,NaN,None
4,1315042,5,61,0,F,None,2020-02-07,2020-03-02 15:26:00,N,None,2.0,0.0,18.0,12.0,35.00000,5.0,0.0,10.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,14.0,2.0,0.0,XC06Z,0.0,2020-03-16 15:54:00,N,0.0,None,NaN,None,NaN,None

## LatestBuildTime

nan

            DtLatestBuild
0 2020-05-07 09:01:18.750

## MedicationDictionary

'Dictionary of medicines in primary care'

,MultilexDrug_ID,ProductId,FullName,RootName,PackDescription,Form,Strength,CompanyName,DMD_ID
0,1;5;0,5000001,UltraLite ileostomy bag 501422 22mm Opaque (Ma...,UltraLite,3396,ileobag,22mm,MARLEN HEALTHCARE,6718111000001101
1,1;5;1,5000001,UltraLite ileostomy bag 501422 22mm Opaque (Ma...,UltraLite,bag,ileobag,22mm,MARLEN HEALTHCARE,6718111000001101
2,1;999;0,999000001,10-10 STEP 1 (form not specified),10-10 STEP 1,,,,,
3,10;1;0,1000010,ACTIFED MULTI-ACTION DRY COUGH linctus [PFIZER],ACTIFED,,linctus,,PFIZER CONSUMER HEALTHCARE,
4,10;1;1,1000010,ACTIFED MULTI-ACTION DRY COUGH linctus [PFIZER],ACTIFED,mls,linctus,,PFIZER CONSUMER HEALTHCARE,

## MedicationIssue

'Issue date for medicines in primary care'

,Patient_ID,Consultation_ID,MedicationIssue_ID,RepeatMedication_ID,MultilexDrug_ID,Dose,Quantity,StartDate,EndDate,MedicationStatus,ConsultationDate
0,2,2421657585,2381009120,517436,1223;2;0,take one daily,28 tablet,2015-11-09,2015-12-07,0,2015-11-09 09:52:12
1,2,2351904198,2316457443,-1,20409;1;0,insert one as directed,1 suppository,2015-02-26,2015-02-27,0,2015-02-26 12:50:25
2,2,2533279528,2460812795,-1,20946;1;0,use as directed,1 pre-filled disposable injection,2017-02-13,2017-02-14,0,2017-02-13 12:33:02
3,2,2711953286,2589772074,-1,2902;5;0,use as directed,1 pack,2019-03-04,2019-03-25,0,2019-03-04 12:28:15
4,2,2711953285,2589772073,-1,2902;5;0,use as directed,1 pack,2019-03-04,2019-03-16,0,2019-03-04 12:35:46

## MedicationRepeat

'Repeat medications issued in primary care'

,Patient_ID,Consultation_ID,MedicationRepeat_ID,MultilexDrug_ID,Dose,Quantity,StartDate,EndDate,MedicationStatus,ConsultationDate
0,2,2351904198,1286177,2873;1;0,take one 3 times/day,84 tablet,2015-02-26,9999-12-31 00:00:00,0,2015-02-26 12:50:25
1,2,15641773,1544255,2873;1;0,take one 3 times/day,84 tablets,2013-04-12,2015-02-26 00:00:00,0,2013-04-12 14:29:12
2,2,15641773,1544256,7322;1;0,take 1 or 2 As directed,20 capsule,2013-04-12,9999-12-31 00:00:00,0,2013-04-12 14:29:12
3,2,2421657585,517436,1223;2;0,take one daily,28 tablet,2015-11-09,9999-12-31 00:00:00,0,2015-11-09 09:52:12
4,14,22904015,3305838,5055;1;1,inhale 1 dose 3-4 times/day,4 packs of 20 X 2.5ml single dose vial,2014-01-10,2014-01-10 00:00:00,0,2014-01-10 09:13:55

## MedicationSensitivity

'Drug allergies recorded in primary care'

,Patient_ID,Consultation_ID,MedicationSensitivity_ID,MultilexDrug_ID,StartDate,FormulationSpecific,Ended,ConsultationDate
0,2,2533279523,22176,9137;1;0,2017-02-13,False,False,2017-02-13 14:30:16
1,6,22181629,62326,6363;1;0,2013-12-18,False,False,2013-12-18 10:32:54
2,8,22122488,57128,5428;1;0,2013-12-17,False,False,2013-12-17 16:50:14
3,18,2208344482,56957,8918;2;0,2013-03-04,False,False,2013-03-04 16:34:55
4,23,22181708,62325,20407;1;0,2013-12-18,False,False,2013-12-18 10:30:45

## ONS_Deaths

'All cause deaths from ONS (includes non-hospital deaths)'

,Patient_ID,sex,ageinyrs,dod,icd10u,ICD10001,ICD10002,ICD10003,ICD10004,ICD10005,ICD10006,ICD10007,ICD10008,ICD10009,ICD10010,ICD10011,ICD10012,ICD10013,ICD10014,ICD10015
0,10007,2,99,2020-02-01,X590,J189,R688,R54,S720,X590,M259,Z966,I10,E210,None,None,None,None,None,None
1,10008,2,99,2020-02-01,N390,N390,R54,None,None,None,None,None,None,None,None,None,None,None,None,None
2,10011,1,84,2020-02-01,I64,J690,I64,None,None,None,None,None,None,None,None,None,None,None,None,None
3,10017,1,68,2020-03-14,I710,J189,I710,N189,N19,Z992,I251,I259,Z951,I359,I38,Z952,None,None,None,None
4,10019,2,95,2020-03-14,F03,R54,F03,None,None,None,None,None,None,None,None,None,None,None,None,None

## Organisation

'Practice codes'

   Organisation_ID GoLiveDate    STPCode   MSOACode                    Region
0                8 1999-03-01             E02005749
1               16 1999-07-01  E54000005  E02002357  Yorkshire and The Humber
2               19 2000-01-01  E54000005  E02002190  Yorkshire and The Humber
3               20 2000-01-01  E54000005  E02002191  Yorkshire and The Humber
4              320 2010-08-01  E54000016  E02002346             West Midlands

## Patient

'DOB, DOD, sex as recorded in primary care'

   Patient_ID DateOfBirth DateOfDeath Sex
0           1  1920-01-01  9999-12-01   M
1           2  1982-12-01  2019-04-01   F
2           3  1919-02-01  9999-12-01   F
3           6  1949-07-01  9999-12-01   M
4           8  1933-06-01  9999-12-01   M

## PatientAddress

'Patient address type, location, ruralness, deprivation score'

,Patient_ID,PatientAddress_ID,StartDate,EndDate,AddressType,RuralUrbanClassificationCode,ImdRankRounded,MSOACode
0,1,99299784,2019-04-01 10:21:27,2019-04-24 00:00:00,0,1,14700,E02002346
1,1,99299785,2019-04-24 10:20:47,2020-01-28 00:00:00,0,1,14700,E02002346
2,2,397106,1999-11-02 18:28:18,1999-11-02 00:00:00,0,5,32800,E02006508
3,2,89467599,2009-09-10 10:49:36,2017-01-19 00:00:00,0,-1,-1,
4,2,1205649,1999-11-02 12:59:00,9999-12-31 00:00:00,0,-1,-1,

## PotentialCareHomeAddress

nan

,Patient_ID,PatientAddress_ID,LocationRequiresNursing,LocationDoesNotRequireNursing
0,128,2158725574,N,Y

## QOFClusterReference

'QOF codess with links to CTV3 codes and descriptions'

,ClusterType,ClusterName,CTV3Code,Description
0,ACEDEC,Codes indicating the patient has chosen not to...,XaIIm,Angiotensin converting enzyme inhibitor declined
1,AFIB,Atrial fibrillation codes,G573.,Atrial fibrillation and flutter
2,AFIB,Atrial fibrillation codes,G5730,Atrial fibrillation
3,AFIB,Atrial fibrillation codes,G5731,Atrial flutter
4,AFIB,Atrial fibrillation codes,G573z,Atrial fibrillation and flutter NOS

## RegistrationHistory

"Patient's practice registration history"

,Registration_ID,Organisation_ID,Patient_ID,StartDate,EndDate
0,1737208,8,1,2019-04-24,2020-01-28 00:00:00
1,2,8,2,1995-08-08,2003-11-17 00:00:00
2,2731273,16,2,2003-11-17,9999-12-31 00:00:00
3,2885924,16,3,1995-08-08,2012-08-13 00:00:00
4,3,8,3,1995-08-08,2004-03-11 00:00:00

## SGSS_Negative

'Negative lab results for covid test'

,Patient_ID,PHE_ID,Organism_Species_Name,Earliest_Specimen_Date,Lab_Report_Date,Age_in_Years,Patient_Sex,County_Description,PostCode_Source
0,10274,22341,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-22,2020-03-25,25,Female,London,P
1,10277,22342,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-04,2020-04-07,27,Female,Essex,P
2,10279,22343,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-16,2020-04-19,40,Female,London,P
3,10283,22344,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-18,2020-04-23,20,Female,Hampshire,P
4,10288,22345,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-21,2020-03-29,43,Male,Manchester,P

## SGSS_Positive

'Positive lab results for covid test'

,Patient_ID,PHE_ID,Organism_Species_Name,Earliest_Specimen_Date,Lab_Report_Date,Age_in_Years,Patient_Sex,County_Description,PostCode_Source
0,10007,12341,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-22,2020-03-25,25,Female,London,P
1,10008,12342,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-04,2020-04-07,27,Female,Essex,P
2,10017,12343,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-16,2020-04-19,40,Female,London,P
3,10019,12344,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-04-18,2020-04-23,20,Female,Hampshire,P
4,10033,12345,SARS-CoV-2 CORONAVIRUS (Covid-19),2020-03-21,2020-03-29,43,Male,Manchester,P

## sysdiagrams

''

Empty DataFrame
Columns: [name, principal_id, diagram_id, version, definition]
Index: []

## UnitDictionary

'Ranges and units for CTV3 codes with units'

,UnitDictionary_ID,CTV3Code,Units,Minimum,Maximum,LowerNormalBound,UpperNormalBound,DecimalPlaces
0,1,229..,m,0.0,3.0,-1.0,-1.0,3
1,2,22A..,Kg,0.0,400.0,-1.0,-1.0,3
2,3,22K..,Kg/m²,0.0,150.0,0.0,50.0,2
3,4,XE2wr,L/min,0.0,800.0,76.0,635.0,2
4,5,66CB.,Kg,0.0,600.0,50.0,90.0,2

## Vaccination

'Patient vaccination record'

,Patient_ID,Vaccination_ID,VaccinationDate,VaccinationName,VaccinationName_ID,VaccinationSchedulePart
0,3,339776,2015-06-02 11:34:14,DTP + Polio,192,1
1,3,386215,2015-07-14 10:40:38,dTP,2573,2
2,3,386225,2015-07-09 16:48:38,Menjugate (Babies 2-4 months),132,1
3,3,339777,2015-06-02 11:54:34,Mumps,58,1
4,23,319247,2019-04-08 11:11:55,HNIG,190,1

## VaccinationReference

'Vaccination info'

   VaccinationName_ID          VaccinationName VaccinationContent
0                   1  Typhim VI - Single Dose            TYPHOID
1                   2                Hepatyrix            TYPHOID
2                   2                Hepatyrix        HEPATITIS A
3                   3   Typherix - Single Dose            TYPHOID
4                   4               Infant BCG                BCG